.pricing_main_container {
  margin: 0 auto;
  width: 90%;
  .pricing_first_sec {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    .left{
        & p{
            font-size: 20px;
        }
    }
    .right {
      background-color: #e7faeb;
      border: 2px solid;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
